--find-links https://download.pytorch.org/whl/torch_stable.html
torch
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision
torchmetrics
click>=8.0.0
numpy>=1.22.1
pandas>=1.5.2
Pillow>=9.4.0
plotly>=5.10.0
scikit-learn>=1.2.1
scipy>=1.7.3
tqdm>=4.64.0
pytest>=7.4.0